/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 32, ../sass/app.scss */
* {
  font-family: 'Alegreya Sans',"Microsoft YaHei", sans-serif;
  font-size: 1em;
}

/* line 36, ../sass/app.scss */
.todoApp {
  width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 500px) {
  /* line 36, ../sass/app.scss */
  .todoApp {
    width: 80%;
  }
}

/* line 45, ../sass/app.scss */
.dialog-content {
  width: 100% !important;
  max-width: 768px !important;
}

/* line 49, ../sass/app.scss */
.header {
  font-weight: bold;
  padding: 5px 0px;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  /* line 55, ../sass/app.scss */
  .title-input {
    width: 100% !important;
  }
}

/* line 61, ../sass/app.scss */
.text-box::before {
  content: "";
  display: block;
  clear: both;
}

/* line 67, ../sass/app.scss */
.add-input {
  float: left;
  margin-top: -15px;
}
@media only screen and (max-width: 500px) {
  /* line 67, ../sass/app.scss */
  .add-input {
    width: 100% !important;
  }
}

/* line 74, ../sass/app.scss */
.add-btn {
  float: right;
  position: relative;
  top: 10px;
}

/* line 79, ../sass/app.scss */
ul {
  padding: 0;
}

/* line 83, ../sass/app.scss */
.todoApp-form::after {
  content: "";
  display: block;
  clear: both;
}

/* line 89, ../sass/app.scss */
.item-content, .edit-input {
  white-space: normal;
  word-wrap: break-word;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 29.5px;
  margin-top: 1.5px;
}

/* line 98, ../sass/app.scss */
.todoApp-item {
  width: 100%;
  list-style: none;
  position: relative;
  line-height: 48px;
}

/* line 104, ../sass/app.scss */
.item-checkbox {
  position: absolute;
  top: 19px;
  left: 0px;
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
}

/* line 113, ../sass/app.scss */
.item-checkbox:checked + .item-content {
  color: #ccc;
}

/* line 116, ../sass/app.scss */
.iconBtn-group {
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
  /* line 120, ../sass/app.scss */
  .iconBtn-group button {
    width: 30px !important;
    height: 30px !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 120, ../sass/app.scss */
  .iconBtn-group button {
    width: 24px !important;
    height: 24px !important;
  }
}

/* line 131, ../sass/app.scss */
.input-group {
  display: block;
  float: left;
  width: 100%;
}

/* line 136, ../sass/app.scss */
.edit-input {
  resize: none;
  min-height: 1.1em;
  width: 70%;
  border: 0;
  overflow-y: auto;
}

/* line 143, ../sass/app.scss */
.item-content {
  max-width: 80%;
}
@media only screen and (max-width: 500px) {
  /* line 143, ../sass/app.scss */
  .item-content {
    max-width: 70%;
  }
}

/* line 149, ../sass/app.scss */
.clearfix {
  clear: both;
}

/* line 152, ../sass/app.scss */
.action-btn {
  text-align: center;
  display: inline-block;
  width: 33.333%;
}

/* line 158, ../sass/app.scss */
.todoApp-action .fa {
  font-size: 20px !important;
}
